In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv('../dados_brutos/caso_full.csv.gz', parse_dates=['date', 'last_available_date'])

In [3]:
dados.head()

,city,city_ibge_code,date,epidemiological_week,estimated_population,estimated_population_2019,is_last,is_repeated,last_available_confirmed,last_available_confirmed_per_100k_inhabitants,last_available_date,last_available_death_rate,last_available_deaths,order_for_place,place_type,state,new_confirmed,new_deaths
0,Rio Branco,1200401.0,2020-03-17,202012,413418.0,407319.0,False,False,3,0.72566,2020-03-17,0.0,0,1,city,AC,3,0
1,NaN,12.0,2020-03-17,202012,894470.0,881935.0,False,False,3,0.33539,2020-03-17,0.0,0,1,state,AC,3,0
2,Rio Branco,1200401.0,2020-03-18,202012,413418.0,407319.0,False,False,3,0.72566,2020-03-18,0.0,0,2,city,AC,0,0
3,NaN,12.0,2020-03-18,202012,894470.0,881935.0,False,False,3,0.33539,2020-03-18,0.0,0,2,state,AC,0,0
4,Rio Branco,1200401.0,2020-03-19,202012,413418.0,407319.0,False,False,4,0.96754,2020-03-19,0.0,0,3,city,AC,1,0

In [4]:
len(dados.columns)

18

In [5]:
dados = dados.rename(columns={'new_confirmed':'casos_novos', 'new_deaths':'obitos_novos'})
dados.head()

,city,city_ibge_code,date,epidemiological_week,estimated_population,estimated_population_2019,is_last,is_repeated,last_available_confirmed,last_available_confirmed_per_100k_inhabitants,last_available_date,last_available_death_rate,last_available_deaths,order_for_place,place_type,state,casos_novos,obitos_novos
0,Rio Branco,1200401.0,2020-03-17,202012,413418.0,407319.0,False,False,3,0.72566,2020-03-17,0.0,0,1,city,AC,3,0
1,NaN,12.0,2020-03-17,202012,894470.0,881935.0,False,False,3,0.33539,2020-03-17,0.0,0,1,state,AC,3,0
2,Rio Branco,1200401.0,2020-03-18,202012,413418.0,407319.0,False,False,3,0.72566,2020-03-18,0.0,0,2,city,AC,0,0
3,NaN,12.0,2020-03-18,202012,894470.0,881935.0,False,False,3,0.33539,2020-03-18,0.0,0,2,state,AC,0,0
4,Rio Branco,1200401.0,2020-03-19,202012,413418.0,407319.0,False,False,4,0.96754,2020-03-19,0.0,0,3,city,AC,1,0

In [6]:
dados_br = dados[dados['place_type'] == 'state'].groupby(['date', 'epidemiological_week']).agg({'casos_novos':'sum', 'obitos_novos':'sum'}).reset_index()
dados_br.head()

        date  epidemiological_week  casos_novos  obitos_novos
0 2020-02-25                202009            1             0
1 2020-02-26                202009            0             0
2 2020-02-27                202009            0             0
3 2020-02-28                202009            1             0
4 2020-02-29                202009            0             0

In [7]:
dados_br['MM7_casos'] = dados_br['casos_novos'].rolling(7, center=False).mean()
dados_br['MM7_obitos'] = dados_br['obitos_novos'].rolling(7, center=False).mean()
dados_br['mes/ano'] = dados_br['date'].dt.strftime('%m-%Y')
dados_br.head()

,date,epidemiological_week,casos_novos,obitos_novos,MM7_casos,MM7_obitos,mes/ano
0,2020-02-25,202009,1,0,NaN,NaN,02-2020
1,2020-02-26,202009,0,0,NaN,NaN,02-2020
2,2020-02-27,202009,0,0,NaN,NaN,02-2020
3,2020-02-28,202009,1,0,NaN,NaN,02-2020
4,2020-02-29,202009,0,0,NaN,NaN,02-2020

In [9]:
let_mes = dados_br.groupby('mes/ano').agg({'casos_novos':'sum', 'obitos_novos':'sum'})
let_mes['letalidade_mes'] = let_mes['obitos_novos'] / let_mes['casos_novos']
let_mes = let_mes.reset_index()

In [10]:
dados_br = dados_br.merge(let_mes[['mes','letalidade_mes']], on='mes')
dados_br.head()

KeyError: "['mes'] not in index"

In [21]:
dados[''])

array(['Rio Branco', nan, 'Acrelândia', ..., 'Talismã', 'Tupirama',
       'Tupiratins'], dtype=object)

In [22]:
dados_rj = dados[(dados['city'] == 'Rio de Janeiro')]
dados_rj = dados_rj.groupby('date').agg({'casos_novos':'sum', 'obitos_novos':'sum'}).reset_index()
dados_rj.head()

        date  casos_novos  obitos_novos
0 2020-03-06            1             0
1 2020-03-07            0             0
2 2020-03-08            1             0
3 2020-03-09            0             0
4 2020-03-10            0             0

In [23]:
dados_rj['MM7_casos'] = dados_rj['casos_novos'].rolling(7, center=False).mean()
dados_rj['MM7_obitos'] = dados_rj['obitos_novos'].rolling(7, center=False).mean()
dados_rj['mes'] = dados_rj['date'].dt.strftime('%m-%Y')
dados_rj.head()

        date  casos_novos  obitos_novos  MM7_casos  MM7_obitos      mes
0 2020-03-06            1             0        NaN         NaN  03-2020
1 2020-03-07            0             0        NaN         NaN  03-2020
2 2020-03-08            1             0        NaN         NaN  03-2020
3 2020-03-09            0             0        NaN         NaN  03-2020
4 2020-03-10            0             0        NaN         NaN  03-2020

In [24]:
let_mes_rj = dados_rj.groupby('mes').agg({'casos_novos':'sum', 'obitos_novos':'sum'})
let_mes_rj['letalidade_mes'] = let_mes_rj['obitos_novos'] / let_mes_rj['casos_novos']
let_mes_rj = let_mes_rj.reset_index()

In [25]:
dados_rj = dados_rj.merge(let_mes_rj[['mes','letalidade_mes']], on='mes')
dados_rj.head()

,date,casos_novos,obitos_novos,MM7_casos,MM7_obitos,mes,letalidade_mes
0,2020-03-06,1,0,NaN,NaN,03-2020,0.030717
1,2020-03-07,0,0,NaN,NaN,03-2020,0.030717
2,2020-03-08,1,0,NaN,NaN,03-2020,0.030717
3,2020-03-09,0,0,NaN,NaN,03-2020,0.030717
4,2020-03-10,0,0,NaN,NaN,03-2020,0.030717

In [26]:
dados_br.set_index(dados_br.columns[0]).to_csv('../dados_limpos/dados_br')

In [27]:
dados_rj.set_index(dados_rj.columns[0]).to_csv('../dados_limpos/dados_rj')