In [1]:
import pandas as pd

In [19]:
dados = pd.read_csv('../dados_brutos/2020_BR_Region_Mobility_Report.csv')
dados_2021 = pd.read_csv('../dados_brutos/2021_BR_Region_Mobility_Report.csv')

C:\Users\pedro\anaconda3_02\lib\site-packages\IPython\core\interactiveshell.py:3166: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [21]:
dados = dados.append(dados_2021)

In [8]:
dados.head()

,country_region_code,country_region,sub_region_1,sub_region_2,metro_area,iso_3166_2_code,census_fips_code,place_id,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,BR,Brazil,NaN,NaN,NaN,NaN,NaN,ChIJzyjM68dZnAARYz4p8gYVWik,2020-02-15,5.0,4.0,-5.0,8.0,6.0,0.0
1,BR,Brazil,NaN,NaN,NaN,NaN,NaN,ChIJzyjM68dZnAARYz4p8gYVWik,2020-02-16,2.0,3.0,-13.0,3.0,0.0,1.0
2,BR,Brazil,NaN,NaN,NaN,NaN,NaN,ChIJzyjM68dZnAARYz4p8gYVWik,2020-02-17,-2.0,0.0,-12.0,9.0,19.0,-1.0
3,BR,Brazil,NaN,NaN,NaN,NaN,NaN,ChIJzyjM68dZnAARYz4p8gYVWik,2020-02-18,-3.0,-1.0,-11.0,9.0,15.0,-1.0
4,BR,Brazil,NaN,NaN,NaN,NaN,NaN,ChIJzyjM68dZnAARYz4p8gYVWik,2020-02-19,-1.0,-2.0,-5.0,8.0,14.0,-1.0

In [22]:
dados_rj = dados[dados['sub_region_2'] == 'Rio de Janeiro']

In [23]:
dados_rj = dados_rj.rename(columns={'retail_and_recreation_percent_change_from_baseline':'recreacao', 'grocery_and_pharmacy_percent_change_from_baseline':'converniencias/farmacias',
                         'parks_percent_change_from_baseline':'est', 'transit_stations_percent_change_from_baseline':'transporte', 'residential_percent_change_from_baseline':'residencia'})

In [24]:
dados_rj[['recreacao', 'date']]

        recreacao        date
363052        7.0  2020-02-15
363053        0.0  2020-02-16
363054        4.0  2020-02-17
363055       -1.0  2020-02-18
363056        1.0  2020-02-19
...           ...         ...
244730      -26.0  2021-06-24
244731      -20.0  2021-06-25
244732      -21.0  2021-06-26
244733      -27.0  2021-06-27
244734      -27.0  2021-06-28

[500 rows x 2 columns]

In [25]:
dados_rj[['recreacao', 'date']].set_index('date').to_csv('../dados_limpos/mobilidade')